version: '3.9'

services:
  cars-and-owners-app:
    container_name: cars-owners-app
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./:/app
    working_dir: /app
    env_file: .env
    command: sh -c "npm i && npm run build && npm run start:dev"
    networks:
      - site2
    restart: unless-stopped

  db:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=db
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - site2

networks:
  site2:
    driver: bridge

volumes:
  postgres_data:
